.header {
    background-color: var(--primary);
    padding: 26px;
    height: 68px;
    display: flex;
    box-sizing: border-box;

}

/* Навігація */
.nav {
    display: flex;
    text-align: center;
}

/* Список */
.list {
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
}

/* Посилання */
.link {
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: var(--text-dark);
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Активне посилання */
.active {
    background-color: var(--secondary);
    color: var(--text-color);
}

/* Наведення */
.link:hover {
    background-color: var(--secondary-light);
    color: var(--text-dark);
}