@import "modern-normalize/modern-normalize.css";
@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&family=Manrope:wght@200..800&display=swap');


:root {
  --font-family: "Manrope", sans-serif;
  --second-family: "Inter", sans-serif;
  --main: #101828;
    --gray: #8d929a;
    --gray-light: #dadde1;
    --badges: #f2f4f7;
    --inputs: #f7f7f7;
    --white: #fff;
    --button: #3470ff;
    --button-hover: #0b44cd;
  }

* {
  font-family: "Manrope", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: var(--white);
  height: 100%;
  font-family: sans-serif;
  line-height: 1.3;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #101828;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button,
input,
select,
textarea {
  font: inherit;
  border: none;
  background: none;
  outline: none;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;

}

button,
input,
select,
textarea {
  font: inherit;
}